#industry4Img
{
    margin-left:25%;
    margin-right: 25%;
}

.nav-item> a:hover
{
    
    border-radius: 25px;
    background: rgb(171,245,84);
    background: linear-gradient(90deg, rgba(171,245,84,1) 0%, rgba(154,205,116,1) 21%, rgba(134,187,35,1) 29%, rgba(79,212,101,1) 44%, rgba(106,202,98,1) 46%, rgba(35,190,27,1) 54%, rgba(17,194,30,1) 82%, rgba(26,193,42,1) 84%, rgba(24,112,6,1) 98%);
}
.nav-item:hover{
    color: rgb(70, 5, 5);
}

#top1header
{
    color: rgb(108, 51, 173);
    text-align: left;
    margin-left: 10%;
}

#imageContainer
{
    margin-left: 25%;
    margin-right: 25%;
}

p {
    display: block;
    text-align: justify;
    margin-top: 1em;

    margin-bottom: 1em;
    margin-left: 25%;
    margin-right: 25%;
  }

.subImg
{
    box-shadow: 5px 10px 8px #888888
}

.contentBreak
{
    height: 3px;
    background-color : crimson;
    width: 100%;
}

.industry4sub
{
    color: rgb(83, 3, 3);
    text-align: left;
    margin-left: 15%;
}

.row:after {
    content: "";
    display: table;
    clear: both;
  }

.column
{
    width:23%
}

ul{
    list-style: none;
}

#footerHr
{
    margin-top: 0px;
}

#navHr
{
    margin-top:0px ;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(131,207,58,1) 0%, rgba(105,165,38,1) 25%, rgba(108,162,46,1) 32%, rgba(120,207,17,1) 52%, rgba(111,172,31,1) 55%, rgba(174,224,10,1) 77%, rgba(223,240,4,1) 100%, rgba(0,212,255,1) 100%);}

#dvFooter
{
    color:white;
    width:100%;
}